html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 380px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

